/*Seletor para o corpo da página*/
body {
    /*Propriedades e valores*/
    background-color: white;
    color: white;
 }
 /*Seletor h1 e suas propriedades*/
 h1 {
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 400%;
 }
  
 /*Seletor h2, propriedades e valores*/
 h2 {
    color: yellow;
    font-family: serif;
    font-size: 250%;
 }
  
/*Importação de fontes do Google, deve ser
feita na primeira linha do arquivo estilo.css*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Grandstander:wght@200&display=swap');


/*Seletor h1 e suas propriedades*/
h1 {
   color: greenyellow;
   font-family: 'Dancing Script', cursive;
   font-size: 400%;
}

 

h2 {
    color: green;
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
}


img {
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
 }
 

img#imgPrincipal {
   
    display: block; 
    margin: 50px auto;
    width: 50%;
    height: auto;
 }
  
 
 img.logo {
    margin-left: 15%;
    
    border-radius: 50%;
 }